# ==============================
# СБОРОЧНЫЕ АРТЕФАКТЫ
# ==============================
**/build/
**/bin/
**/gen/
**/out/

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
*.keystore
*.jks
*.hprof

# Kotlin Multiplatform / JS / Wasm
.kotlin/
kotlin-js-store/
node_modules/
npm-debug.log
yarn-error.log
.konan/

# ==============================
# КОНФИГУРАЦИЯ И IDE
# ==============================

# Gradle
.gradle/
**/local.properties
.gradle-wrapper/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# ==============================
# СИСТЕМНЫЕ ФАЙЛЫ
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# КОНФИДЕНЦИАЛЬНЫЕ ДАННЫЕ
# ==============================
google-services.json
*.properties
!gradle.properties
!gradle-wrapper.properties
