# ==============================
# СБОРОЧНЫЕ АРТЕФАКТЫ
# ==============================

# Скомпилированные файлы приложения
*.apk
*.ap_
*.aab
*.dex
*.class

# Папки сборки (рекурсивно во всех подпроектах)
**/build/
**/bin/
**/gen/

# Gradle
**/.gradle/
**/local.properties

# Внешние нативные сборки
**/.externalNativeBuild
**/.cxx/
**/captures/

# ==============================
# IDE И РЕДАКТОРЫ
# ==============================

# Android Studio / IntelliJ IDEA
*.iml
.idea/
.gradle/

# Eclipse
.project
.classpath
.settings/
proguard/
proguard-project.txt

# ==============================
# СИСТЕМНЫЕ ФАЙЛЫ
# ==============================

# macOS
.DS_Store

# Windows
Thumbs.db

# ==============================
# КОНФИДЕНЦИАЛЬНЫЕ ДАННЫЕ
# ==============================

# Сервисные файлы Google/Firebase
google-services.json